.swiper_container00 {
  height: auto;
  width: auto;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide00 {
  width: 37rem;
  height: 42rem;
  position: relative;
  box-shadow: none;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide00 {
    width: 28rem !important;
    height: 36rem !important;
  }

}

.swiper-slide00 img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide000{
  border-radius: 2rem !important;
  
}

.swiper-slide00-shadow-left,
.swiper-slide00-shadow-right {
  display: none;
}


.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}